@page
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@model ProjectRagnarock.Pages.MuseTales.AdminDashModel
@{
    ViewData["Title"] = "Admin";
}

<h1>@ViewData["Title"]</h1>

<div class="container"><button type="button" class="btn btn-success" style="font-family: 'Times New Roman';" data-bs-toggle="modal" data-bs-target="#createModal">Opret ny expo</button></div>

<table class="table" style="font-family: 'Times New Roman';">
    <thead>
        <tr>
            <th>#</th>
            <th>Udstilling</th>
            <th>Redigering</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.AllExpos)
        {
            <tr>
                <td>
                    @item.Id
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.PicturePath og @item.SoundFilePath
                </td>
                <td>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" style="font-family: 'Times New Roman';" data-bs-target="#updateModal-@item.Id">Opdater</button>
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" style="font-family: 'Times New Roman';" data-bs-target="#deleteModal-@item.Id">Slet</button>
                </td>
            </tr>

            <div class="modal fade" id="deleteModal-@item.Id" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" style="font-family: 'Times New Roman';"id="deleteModalLabel">Delete expo</h1>
                            <button type="button" class="btn-close" style="font-family: 'Times New Roman';" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div style="font-family: 'Times New Roman';" class="modal-body">
                            Er du sikker på du vil slette denne expo?
                        </div>
                        <div class="modal-footer">
                            <button type="button" style="font-family: 'Times New Roman';" class="btn btn-secondary" data-bs-dismiss="modal">Fortryd</button>
                            <form asp-page-handler="delete" method="post">
                                <input type="hidden" name="id" value="@item.Id" />
                                <button type="submit" style="font-family: 'Times New Roman';" class="btn btn-danger">Slet</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="updateModal-@item.Id" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" style="font-family: 'Times New Roman';" id="updateModalLabel">Opdater expo</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form asp-page-handler="update" method="post" enctype="multipart/form-data">
                                <div class="row align-items-center">
                                    <div class="form-group">
                                        <label asp-for="Expo.Name" class="control-label">Expo navn</label>
                                        <input asp-for="Expo.Name" type="text" class="form-control" name="Name" value="@item.Name"/>
                                        <span asp-validation-for="@Model.Expo.Name" class="text-danger"></span>
                                    </div>
                                    <div class="row align-items-center">
                                    <div class="form-group">
                                            <label asp-for="@Model.Expo.Description">Oplæsningen i tekstform</label>
                                            <textarea asp-for="@item.Description" class="form-control" name="Description" rows="6"></textarea>
                                            <span asp-validation-for="@Model.Expo.Description" class="text-danger"></span>
                                    </div>

                                    <div class="form-group">
                                            <label asp-for="@Model.Expo.PicturePath">Upload billede til udstillingen</label>
                                            <input asp-for="@Model.Expo.PicturePath" class="form-control form-control-sm" type="file" name="PicturePath">
                                            <span asp-validation-for="@Model.Expo.PicturePath" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="@Model.Expo.SoundFilePath">Upload lydfil til oplæsning</label>
                                        <input asp-for="@Model.Expo.SoundFilePath" class="form-control form-control-sm" type="file" name="SoundFilePath">
                                        <span asp-validation-for="@Model.Expo.SoundFilePath" class="text-danger"></span>
                                    </div>
                                </div>

                                    <input type="hidden" name="id" value="@item.Id" />
                                    <div class="modal-footer">
                                        <button class="btn btn-primary" type="submit">Opdater</button>
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fortryd</button>
                                    </div>
                                <div asp-validation-summary="All"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        }
    </tbody>
</table>

<div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="createModalLabel">Opret en ny expo</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form asp-page-handler="create" method="post" enctype="multipart/form-data">
                    <div class="row">
                        <div class="form-group">
                            <label asp-for="@Model.Expo.Name" class="control-label">Expo navn</label>
                            <input asp-for="@Model.Expo.Name" type="text" class="form-control"/>
                            <span asp-validation-for="@Model.Expo.Name" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="form-group">
                            <label asp-for="@Model.Expo.Description">Oplæsningen i tekstform</label>
                            <textarea asp-for="@Model.Expo.Description" class="form-control" rows="6"></textarea>
                            <span asp-validation-for="@Model.Expo.Description" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="@Model.Expo.PicturePath">Upload billede til udstillingen</label>
                            <input asp-for="@Model.Expo.PicturePath" class="form-control form-control-sm" type="file" name="PicturePath" value="~/Images/">
                            <span asp-validation-for="@Model.Expo.PicturePath" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="@Model.Expo.SoundFilePath">Upload lydfil til oplæsning</label>
                            <input asp-for="@Model.Expo.SoundFilePath" class="form-control form-control-sm" type="file" name="SoundFilePath" value="~/Sound/">
                            <span asp-validation-for="@Model.Expo.SoundFilePath" class="text-danger"></span>
                        </div>
                    </div>
                    @{
                        int count = 1;
                        foreach (var item in Model.AllExpos)
                        {
                            count++;
                        }
                    }
                    <input type="hidden" name="id" value="@count" />
                    <div class="modal-footer">
                        <button class="btn btn-primary" type="submit">Opret</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fortryd</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

