@page
@model ProjectRagnarock.Pages.MuseTales.AdminDashModel
@{
    ViewData["Title"] = "Admin";
}

<h1>@ViewData["Title"]</h1>

<div class="container"><button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#createModal">Opret ny expo</button></div>

<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Udstilling</th>
            <th>Redigering</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.AllExpos)
        {
            <tr>
                <td>
                    @item.Id
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#updateModal-@item.Id">Opdater</button>
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal-@item.Id">Slet</button>
                </td>

            </tr>

            
            <div class="modal fade" id="deleteModal-@item.Id" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="deleteModalLabel">Delete expo</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                         Er du sikker på du vil slette denne expo?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <form asp-page-handler="delete" method="post">
                                <input type="hidden" name="id" value="@item.Id" />
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="updateModal-@item.Id" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="updateModalLabel">Opdater expo</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form asp-page-handler="update" method="post">
                                <div class="row">
                                    <div class="col">
                                        <label>Expo navn</label>
                                        <input class="form-control" type="text" asp-for="Expo.Name" required name="Name" value="@item.Name"/>
                                    </div>
                                </div>
                                <div class="row align-items-center">
                                    <div class="col">
                                        <label>Oplæsningen i tekstform</label>
                                        <textarea class="form-control" asp-for="@item.Description" required name="Description" rows="6"></textarea>
                                    </div>

                                    <div class="row">
                                        <label>Billede af udstillingen</label>
                                        <input asp-for="Expo.PicturePath" type="file" class="" required name="PicturePath" value="@item.PicturePath">
                                    </div>

                                    <div class="row">
                                        <label>Vælg lydfil til oplæsning</label>
                                        <input asp-for="Expo.SoundFilePath" type="file" class="" required name="SoundFilePath" value="@item.SoundFilePath">
                                    </div>
                                </div>
                                <input type="hidden" name="id" value="@item.Id" />
                                <button class="form-control" type="submit">opdater</button>
                            </form>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            
        }
    </tbody>
</table>

<div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="createModalLabel">Opret en ny expo</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form asp-page-handler="create" method="post">
                    <div class="row">
                        <div class="col">
                            <label>Expo navn</label>
                            <input class="form-control" type="text" asp-for="Expo.Name" name="Name" />
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col">
                            <label>Oplæsningen i tekstform</label>
                            <textarea class="form-control" asp-for="Expo.Description" name="Description" rows="6"></textarea>
                        </div>

                        <div class="row">
                            <label>Billede af udstillingen</label>
                            <input asp-for="Expo.PicturePath" type="file" class="" name="PicturePath">
                        </div>

                        <div class="row">
                            <label>Vælg lydfil til oplæsning</label>
                            <input asp-for="Expo.SoundFilePath" type="file" class="" name="SoundFilePath">
                        </div>
                    </div>
                    <button class="form-control" type="submit">opret</button>
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

